{block content}
{include smallMenu}
<div class="editorBlock">
   <div class="content">
        <div class="orderFullCol">
              <h2>Přihlášení</h2>              
              <div class="orderFullColIn">
                  {control loginForm}
   
              </div>
        </div>  
   </div>
</div>
{/block}